workingFolder/Adobe After Effects Auto-Save/Whale auto-save 1.aep
*.aep
workingFolder/Whale/5898048044_919d29dfe8_o.jpg
workingFolder/Whale/5898048044_919d29dfe8_o.png
workingFolder/Whale/8608240680_0d0061ca84_o.jpg
workingFolder/Whale/5898048044_919d29dfe8_o.psd
*.psd
workingFolder/Whale/colorWhale2Inhalants.jpg
*.psd
workingFolder/Whale/8977582104_caa18a85c7_o.jpg
*.psd
workingFolder/Whale/colorWhale.psd
workingFolder/Whale/Comp 1.avi
workingFolder/Whale/Comp 2.avi
workingFolder/Whale/whale2LowerQuality.mp4
workingFolder/Comp 1.avi
workingFolder/Whale/colorWhale.psd
workingFolder/low qualityold.mp4
workingFolder/low quality_preview.mp4
workingFolder/low quality_preview.mp4
workingFolder/low quality_preview.mp4
workingFolder/low quality_preview.mp4
workingFolder/lowQuality-nowhale.mp4
workingFolder/low quality_preview.mp4
workingFolder/Comp 2.avi